@import '../../assets/css/variables';

.slideshow {
    position: relative;
    width: 80vw;
    height: 400px;
    margin: auto;
    border-radius: 25px;
    overflow: hidden;
    &__mainPic {
        position: absolute;
        bottom: 0;
        width: 100%;
        object-fit: cover;
    }
    & .arrow {
        position: absolute;
        top: 50%;
        cursor: pointer;
    }
    &__leftArrow {
        left: 25px;
        transform: scale(3) rotate(-90deg);
    }
    &__rightArrow {
        right: 25px;
        transform: scale(3) rotate(90deg);
    }
    &__position {
        position: absolute;
        bottom: 25px;
        left: 50%;
        color: white;
    }
}

@media screen and (max-width: 900px) {
    .slideshow {
        height: 300px;
        &__mainPic {
            bottom: 0;
        }
    }
}
@media screen and (max-width: 600px) {
    .slideshow {
        width: 90vw;
        height: 220px;
        border-radius: 10px;
        &__mainPic {
            height: 100%;
            object-fit: cover;
        }
    }
}