@import '../../assets/css/variables';

.slideshow {
    position: relative;
    width: 80vw;
    height: 400px;
    margin: auto;
    border-radius: 25px;
    overflow: hidden;
    &__mainPic {
        position: absolute;
        bottom: -25%;
        width: 100%;
    }
    & .arrow {
        position: absolute;
        top: 50%;
        cursor: pointer;
    }
    &__leftArrow {
        left: 25px;
        transform: scale(3) rotate(-90deg);
    }
    &__rightArrow {
        right: 25px;
        transform: scale(3) rotate(90deg);
    }
    &__position {
        position: absolute;
        bottom: 25px;
        left: 50%;
        color: white;
    }
}