@import '../../assets/css/variables';

.errorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $main-color;
    gap: 50px;
    & h1 {
        font-size: 15rem;
        font-weight: 900;
        margin: 0;
    }
    & a {
        color: $main-color;
        text-decoration: underline;
    }
}