@import '../../assets/css/variables';

.rating{
    display: flex;
    margin-top: 10px;
    padding: 5px;
    gap: 10px;
    & .star {
        scale: 1.4;
    }
    & .greyStar {
        filter: invert(100%) sepia(100%) saturate(35%) hue-rotate(178deg) brightness(140%) contrast(88%);
    }
}

@media screen and (max-width: 600px) {
    .rating {
        gap: 5px;
        & .star {
            scale: 1;
        }
    }
}