@import '../../assets/css/variables';
.hero-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    width: 80vw;
    border-radius: 25px;
    overflow: hidden;
    margin: auto;
    &__image {
        position: absolute;
        bottom: 0;
        width: 100%;
        filter: brightness(0.6);
    }
    & h2 {
        z-index: 1;
        color: $white;
        font-size: 3.5rem;
        margin: 0 20px;
        cursor: default;
    }
}
@media screen and (max-width: 600px) {
    .hero-header {
        width: 90vw;
        height: 110px;
        border-radius: 10px;
        & h2 {
            font-size: 1.4rem;
        }
    }
}