@import '../../assets/css/variables';


.hotelInfos {
    display: flex;
    width: 80vw;
    margin: auto;
    &__containerLeft {
        display: flex;
        flex-direction: column;
        width: 80%;
        & h1 {
            color: $main-color;
            font-size: 2rem;
            margin-bottom: 0;
        }
        & p {
            color: $main-color;
            margin-top: 0;
        }
        &--tagsContainer {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            & span {
                display: flex;
                align-items: center;
                color: $white;
                background-color: $main-color;
                height: 25px;
                padding: 0 25px;
                border-radius: 20px;
                cursor: default;
            }
        }
    }
    &__containerRight {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 20%;
        &--hostContainer {
            margin-top: 30px;
            display: flex;
            gap: 10px;
            & img {
                height: 64px;
                width: 64px;
                border-radius: 50%;
            }
            & p {
                font-size: 1.2rem;
                color: $main-color;
            }
        }
    }
}
.collapseWrapper {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 25px;
    width: 80vw;
    & .wrapper {
        width: 46%;
    }
}

@media screen and (max-width: 700px) {
    .hotelInfos {
        &__containerLeft {
            & h1 {
                font-size: 1.5rem;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .hotelInfos {
        flex-direction: column;
        width: 90vw;
        &__containerLeft {
            width: 100%;
            gap: 20px;
            & h1 {
                font-size: 1.2rem;
            }
            &--tagsContainer {
                font-size: 0.8rem;
            }
        }
        &__containerRight {
            width: 100%;
            flex-direction: row-reverse;
            justify-content: space-between;
            &--hostContainer {
                display: flex;
                align-items: center;
                height: 50px;
                & img {
                    width: 32px;
                    height: 32px;
                }
                & p {
                    font-size: 1rem;
                }
            }
            &--starContainer {
                display: flex;
                align-items: center;
                height: 50px;                
            }
        }
    }
    .collapseWrapper {
        flex-direction: column;
        width: 90vw;
        gap: 10px;
        & .wrapper {
            width: 100%;
            margin-bottom: -15px;
        }
    }
}