@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.header {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: 45px auto;
}
.header__link-container {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  align-items: center;
  width: 350px;
}
.header__link-container a {
  color: #FF6060;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: 600;
}
.header__link-container a.active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

@media screen and (max-width: 600px) {
  .header {
    width: 90vw;
  }
  .header img {
    width: 145px;
  }
  .header__link-container {
    gap: 25px;
  }
  .header__link-container a {
    font-size: 1em;
  }
}
.hero-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  width: 80vw;
  border-radius: 25px;
  overflow: hidden;
  margin: auto;
}
.hero-header__image {
  position: absolute;
  bottom: 0;
  width: 100%;
  filter: brightness(0.6);
}
.hero-header h2 {
  z-index: 1;
  color: #FFFFFF;
  font-size: 3.5rem;
  margin: 0 20px;
  cursor: default;
}

@media screen and (max-width: 600px) {
  .hero-header {
    width: 90vw;
    height: 110px;
    border-radius: 10px;
  }
  .hero-header h2 {
    font-size: 1.4rem;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 45px 0 20px 0;
  margin-top: 50px;
  color: #FFFFFF;
  background: #000000;
}

.gallery {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
  gap: 50px;
  flex-wrap: wrap;
  width: calc(80vw - 100px);
  margin: auto;
  margin-top: 50px;
  background: #F0F0F0;
  border-radius: 25px;
}
.gallery__card {
  display: flex;
  position: relative;
  height: 340px;
  width: 340px;
  overflow: hidden;
  border-radius: 10px;
}
.gallery__card--cover {
  position: absolute;
  bottom: 0;
  height: 100%;
}
.gallery__card--gradient {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 20px;
  z-index: 1;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgb(0, 0, 0) 120%);
  width: 100%;
  height: 100%;
}
.gallery__card--gradient-title {
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 400;
}

@media screen and (max-width: 600px) {
  .gallery {
    margin-top: 30px;
    padding: 0;
    width: 90vw;
    background: none;
    gap: 20px;
  }
  .gallery__card {
    width: 335px;
    height: 255px;
  }
}
.hotelInfos {
  display: flex;
  width: 80vw;
  margin: auto;
}
.hotelInfos__containerLeft {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.hotelInfos__containerLeft h1 {
  color: #FF6060;
  font-size: 2rem;
  margin-bottom: 0;
}
.hotelInfos__containerLeft p {
  color: #FF6060;
  margin-top: 0;
}
.hotelInfos__containerLeft--tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.hotelInfos__containerLeft--tagsContainer span {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  background-color: #FF6060;
  height: 25px;
  padding: 0 25px;
  border-radius: 20px;
  cursor: default;
}
.hotelInfos__containerRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 20%;
}
.hotelInfos__containerRight--hostContainer {
  margin-top: 30px;
  display: flex;
  gap: 10px;
}
.hotelInfos__containerRight--hostContainer img {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}
.hotelInfos__containerRight--hostContainer p {
  font-size: 1.2rem;
  color: #FF6060;
}

.collapseWrapper {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 25px;
  width: 80vw;
}
.collapseWrapper .wrapper {
  width: 46%;
}

@media screen and (max-width: 700px) {
  .hotelInfos__containerLeft h1 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .hotelInfos {
    flex-direction: column;
    width: 90vw;
  }
  .hotelInfos__containerLeft {
    width: 100%;
    gap: 20px;
  }
  .hotelInfos__containerLeft h1 {
    font-size: 1.2rem;
  }
  .hotelInfos__containerLeft--tagsContainer {
    font-size: 0.8rem;
  }
  .hotelInfos__containerRight {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .hotelInfos__containerRight--hostContainer {
    display: flex;
    align-items: center;
    height: 50px;
  }
  .hotelInfos__containerRight--hostContainer img {
    width: 32px;
    height: 32px;
  }
  .hotelInfos__containerRight--hostContainer p {
    font-size: 1rem;
  }
  .hotelInfos__containerRight--starContainer {
    display: flex;
    align-items: center;
    height: 50px;
  }
  .collapseWrapper {
    flex-direction: column;
    width: 90vw;
    gap: 10px;
  }
  .collapseWrapper .wrapper {
    width: 100%;
    margin-bottom: -15px;
  }
}
.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FF6060;
  gap: 50px;
  padding: 0 20px;
  width: 80vw;
  margin: auto;
}
.errorContainer h1 {
  font-size: 15rem;
  font-weight: 900;
  margin: 0;
}
.errorContainer a {
  color: #FF6060;
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .errorContainer {
    width: 90vw;
  }
  .errorContainer h1 {
    font-size: 8rem;
  }
  .errorContainer h2 {
    font-size: 0.8rem;
  }
}
.aboutMain {
  width: 80vw;
  margin: auto;
}
.aboutMain__imageContainer {
  position: relative;
  width: 100%;
  height: 220px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 25px;
}
.aboutMain__imageContainer img {
  position: absolute;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.aboutMain__dropDownContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 50px auto;
  width: 80%;
}

@media screen and (max-width: 600px) {
  .aboutMain {
    width: 90vw;
  }
  .aboutMain__imageContainer {
    height: 110px;
    border-radius: 10px;
  }
  .aboutMain__dropDownContainer {
    width: 100%;
    margin: 50px auto;
  }
}
.collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: #FF6060;
  color: #FFFFFF;
  height: 50px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 20px;
  color: #000000;
  background: #F0F0F0;
  border-radius: 0 0 5px 5px;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.3s ease;
}

.contentActive {
  display: flex;
  flex-direction: column;
  gap: 5px;
  opacity: 1;
  transform: scaleY(1);
  height: auto;
}
.contentActive span {
  display: block;
}

.arrow {
  transform: rotate(0);
  transition: transform 0.3s ease;
}

.arrowDown {
  transform: rotate(-180deg);
}

@media screen and (max-width: 600px) {
  .collapse {
    font-size: 0.6rem;
    height: 30px;
  }
  .content {
    font-size: 0.8rem;
  }
  .arrow {
    scale: 0.8;
  }
}
.slideshow {
  position: relative;
  width: 80vw;
  height: 400px;
  margin: auto;
  border-radius: 25px;
  overflow: hidden;
}
.slideshow__mainPic {
  position: absolute;
  bottom: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slideshow .arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
}
.slideshow__leftArrow {
  left: 25px;
  transform: scale(3) rotate(-90deg);
}
.slideshow__rightArrow {
  right: 25px;
  transform: scale(3) rotate(90deg);
}
.slideshow__position {
  position: absolute;
  bottom: 25px;
  left: 50%;
  color: white;
}

@media screen and (max-width: 900px) {
  .slideshow {
    height: 300px;
  }
  .slideshow__mainPic {
    bottom: 0;
  }
}
@media screen and (max-width: 600px) {
  .slideshow {
    width: 90vw;
    height: 220px;
    border-radius: 10px;
  }
  .slideshow__mainPic {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.rating {
  display: flex;
  margin-top: 10px;
  padding: 5px;
  gap: 10px;
}
.rating .star {
  scale: 1.4;
}
.rating .greyStar {
  filter: invert(100%) sepia(100%) saturate(35%) hue-rotate(178deg) brightness(140%) contrast(88%);
}

@media screen and (max-width: 600px) {
  .rating {
    gap: 5px;
  }
  .rating .star {
    scale: 1;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}