@import '../../components/Header/header', '../css/variables', '../../pages/Accueil/accueil',
'../../components/Footer/footer', '../../components/Gallery/gallery',
 "../../pages/HotelPage/hotelpage", "../../pages/PageError/pageError",
 "../../pages/About/about", "../../components/Collapse/collapse", 
 "../../components/Slideshow/slideshow";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
}