@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.header {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: 45px auto;
}
.header__link-container {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  align-items: center;
  width: 350px;
}
.header__link-container a {
  color: #FF6060;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: 600;
}
.header__link-container a.active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

.hero-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  width: 80vw;
  border-radius: 25px;
  overflow: hidden;
  margin: auto;
}
.hero-header__image {
  position: absolute;
  bottom: 0;
  width: 100%;
  filter: brightness(0.6);
}
.hero-header h2 {
  z-index: 1;
  color: #FFFFFF;
  font-size: 3.5rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 45px 0 20px 0;
  margin-top: 50px;
  color: #FFFFFF;
  background: #000000;
}

.gallery {
  display: flex;
  justify-content: center;
  padding: 50px;
  gap: 50px;
  flex-wrap: wrap;
  width: calc(80vw - 100px);
  margin: auto;
  margin-top: 50px;
  background: #F0F0F0;
  border-radius: 25px;
}
.gallery__card {
  display: flex;
  position: relative;
  height: 340px;
  width: 340px;
  overflow: hidden;
  border-radius: 10px;
}
.gallery__card--cover {
  position: absolute;
  bottom: 0;
  height: 100%;
}
.gallery__card--gradient {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 20px;
  z-index: 1;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgb(0, 0, 0) 120%);
  width: 100%;
  height: 100%;
}
.gallery__card--gradient-title {
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 400;
}

body {
  margin: 0;
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}