@import '../../assets/css/variables';

.header {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 45px auto;
    &__link-container {
        display: flex;
        justify-content: flex-end;
        gap: 50px;
        align-items: center;
        width: 350px;
        & a {
            color: $main-color;
            text-decoration: none;
            font-size: 1.4em;
            font-weight: 600;
        }
        & a.active {
            text-decoration: underline;
            text-decoration-thickness: 2px;
            text-underline-offset: 3px;
        }
    }
}

@media screen and (max-width: 600px) {
    .header {
        width: 90vw;
        & img {
            width: 145px;
        }
        &__link-container {
            gap: 25px;
            & a {
                font-size: 1em;
            }
        }
    }
}